.div-count {
    .span-count {
        font-size: 18px;
        font-weight:bolder;
    }
    .btn-count {
        background-color: rgb(156, 231, 248);
        padding: 0.3rem 1rem;
        border: 1px black dashed;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}