.div-count {
    display: flex;
    align-items: center;
    flex-direction: column;
    .cont-decreaseIncrease {
        display: flex;
        align-items: center;
        .span-count {
            font-size: 18px;
            font-weight:bolder;
        }
    }
}